.header {
  padding: 26px 0;
}
.header .headerContent {
  align-items: flex-start;
  align-items: inherit;
  padding: 0;
}
.header .headerContent-right__row {
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: flex;
}
.header .headerContent-right {
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
}
.header .btn {
  max-width: 264px;
  width: 100%;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
  padding: 5px;
}
.header .linkPhone {
  margin-left: 0;
}

.menu {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 0 27px;
  margin-top: 16px;
}
.menu a:hover {
  color: #d3145b;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlePage-section {
  padding: 41px 0;
}
.titlePage-section--img img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 360px;
  width: 50%;
  height: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.titlePage-section--img .titlePage-section__text {
  max-width: 812px;
  padding-left: calc(50% - 180px);
}

.titlePage-section__caption {
  color: #6a4b4b;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
}

.titlePage-section__text {
  overflow: hidden;
  max-width: 750px;
  width: 100%;
  margin: 24px auto 0;
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background-color: #f4f0f0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 34px 48px 26px;
  position: relative;
}
.titlePage-section__text p + p {
  margin-top: 25px;
}
.titlePage-section__text .caption {
  color: #d3145b;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  font-size: 20px;
  line-height: 24px;
}

.recipesWrapper--new {
  padding: 0;
  margin-top: -63px;
}
.recipesWrapper--new .recipes .text .btn:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: 50%;
  top: -55px;
  background-image: url(../img/petal.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 71px;
  height: 77px;
  margin-left: -37px;
  background-size: contain;
  pointer-events: none;
}

.recipes-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}

.catalog {
  background-color: #ede0e0;
  padding: 45px 0;
  background-image: url("../img/grettings-petal1.png");
  background-position: -90px calc(100% + 25px);
  background-repeat: no-repeat;
}
.catalog--section {
  padding-top: 142px;
  padding-bottom: 50px;
  margin-top: -135px;
  background-image: none;
}
.catalog .siteTitle + * {
  margin-top: 30px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
}

.availability {
  color: #c2b6b6;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  margin: 12px auto 0;
  display: table;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 15px;
}
.availability--yes {
  background-image: url("../img/pages/check.svg");
}
.availability--no {
  background-image: url("../img/pages/not.svg");
  padding-left: 20px;
}

.catalog-item {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border: 1.5px solid #e9e1e1;
  background: #fff;
  filter: drop-shadow(10px 10px 15px rgba(106, 75, 75, 0.2));
  padding: 24px 24px 11px;
  position: relative;
}
.catalog-item .btn {
  width: 100%;
  margin-top: 29px;
}
.catalog-item .text {
  color: #c2b6b6;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  display: block;
  margin-top: 13px;
  max-width: 167px;
  margin-left: auto;
  margin-right: auto;
}
.catalog-item .count {
  color: #6a4b4b;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 12px;
  display: block;
}
.catalog-item .link {
  color: #d3145b;
  font-size: 20px;
  font-weight: 700;
  line-height: 60px;
  margin: 12px auto 0;
  display: table;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
.catalog-item .link:hover {
  text-decoration-color: #d3145b;
}

.catalog-item__picture {
  width: 167px;
  height: 203px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.catalog-item__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-item__name {
  color: #6a4b4b;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  margin: 13px auto;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-width: 135px;
}
.catalog-item__name:hover {
  color: rgb(211, 20, 91);
}

.catalog-item__info {
  color: #6a4b4b;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-top: 19px;
}
.catalog-item__info li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
.catalog-item__info li + li {
  border-top: solid 1px #c2b6b6;
  margin-top: 10px;
  padding-top: 10px;
}
.catalog-item__info li .title {
  max-width: 59%;
}

.rating {
  position: relative;
  width: 70px;
  height: 14px;
}
.rating .stars {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: left center;
  background-image: url("../img/pages/star-gray.svg");
}
.rating .stars-green {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-position: left center;
  background-image: url("../img/pages/star-green.svg");
}

.btns-section {
  padding-top: 48px;
}
.btns-section .btns-section__controls {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 307px;
}
.btns-section .btns-section__controls:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/petal.png");
  background-position: center;
  background-repeat: no-repeat;
  right: -33px;
  bottom: -28px;
  width: 120px;
  height: 111px;
  z-index: 6;
  pointer-events: none;
  background-size: contain;
}
.btns-section .btn {
  max-width: 100%;
  width: 100%;
  padding-right: 55px;
}

.modal {
  position: relative;
  font-family: "Geometria";
}

.modal-more .modal__close,
#modal-result .modal__close,
#modal-dev .modal__close,
#modal-more .modal__close,
#modal-checkout .modal__close {
  right: -40px;
  top: -20px;
}
.modal-more .modal__content,
#modal-result .modal__content,
#modal-dev .modal__content,
#modal-more .modal__content,
#modal-checkout .modal__content {
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.modal-more .modal__container,
#modal-result .modal__container,
#modal-dev .modal__container,
#modal-more .modal__container,
#modal-checkout .modal__container {
  max-width: 600px;
  padding: 50px 65px;
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

#modal-dev .inputList {
  margin-top: 20px;
}

#modal-result {
  color: #6a4b4b;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
#modal-result .siteTitle {
  margin-bottom: 19px;
}

.product-section {
  padding: 40px 0;
}

.product-section__inner {
  display: grid;
  grid-template-columns: 360px 263px 1fr;
  gap: 30px;
  align-items: flex-start;
  padding-top: 38px;
}

.product-section__picture .picture {
  width: 100%;
  height: 453px;
  display: block;
}
.product-section__picture .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.product-section__picture .product-section__volume {
  margin-top: 20px;
  background: #d7f2d8;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}
.product-section__picture .title {
  color: #6a4b4b;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 10px;
  flex: 1;
}
.product-section__picture .volume {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  background-color: #d3145b;
  width: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.product-section__info {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #f4f0f0;
  padding: 28px 50px 28px 46px;
}
.product-section__info .cap {
  color: #d3145b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.product-section__info .list {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 31px;
}
.product-section__info li + li {
  margin-top: 15px;
}

.finished-products .catalog {
  background: transparent;
}
.finished-products .catalog-item__picture {
  height: 266px;
  width: calc(100% + 50px);
  position: relative;
  left: -25px;
  top: -25px;
  margin-bottom: -25px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.finished-products .calcWrapper {
  padding-top: 45px;
}

.cooperation-section {
  background-color: #ede0e0;
  padding: 42px 0 48px;
  position: relative;
}
.cooperation-section:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves1.png");
  left: 0px;
  top: -95px;
  width: 181px;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.cooperation-section:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves2.png");
  right: 0px;
  top: 50%;
  width: 180px;
  height: 289px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  margin-top: 50px;
}

.cooperation-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 30px;
  position: relative;
  z-index: 3;
}

.cooperation-item__head .title {
  color: #6a4b4b;
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  display: block;
}

.cooperation-item__body {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 40px 55px;
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 32px;
}
.cooperation-item__body p + p {
  margin-top: 24px;
}
.cooperation-item__body .btn {
  margin-top: 32px;
  font-size: 18px;
  line-height: 51px;
  padding: 0 15px;
  min-width: 213px;
}

.cooperation-section--analitic .cooperation-list {
  grid-template-columns: 1fr;
  position: relative;
}
.cooperation-section--analitic .cooperation-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cooperation-section--analitic .cooperation-item__head {
  padding-right: 68px;
}
.cooperation-section--analitic .cooperation-item__body {
  margin-top: 0;
}
.cooperation-section--analitic .title {
  max-width: 333px;
}

.text-section {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 40px;
}
.text-section .container {
  width: 975px;
}
.text-section h2 {
  color: #6a4b4b;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
}
.text-section h3 {
  color: #6a4b4b;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: block;
  margin-top: 36px;
}
.text-section h3 + * {
  margin-top: 55px;
}
.text-section p + p {
  margin-top: 25px;
}
.text-section .cols {
  columns: 2 auto;
}
.text-section .cols + h2 {
  margin-top: 72px;
}
.text-section .rows {
  margin: 35px 0;
  border-top: solid 1px #c2b6b6;
  border-bottom: solid 1px #c2b6b6;
  padding: 35px 0;
}
.text-section .rows:last-child {
  border-bottom: 0;
}

.catalog--box {
  padding-top: 0;
  background-color: transparent;
  background-image: none;
}
.catalog--box .catalog-item__picture {
  height: 272px;
  width: calc(100% - 47px);
}
.catalog--box .catalog-list {
  gap: 20px 25px;
}
.catalog--box .catalog-item {
  padding: 24px 0;
  filter: none;
}

.catalog--left {
  padding: 0;
  background-color: transparent;
  background-image: none;
  width: calc(100% - 262px - 30px);
}
.catalog--left .catalog-list {
  grid-template-columns: repeat(3, 1fr);
}
.catalog--left .catalog-item {
  filter: none;
}

.catalog-banki__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.catalog-banki .catalog-item__picture {
  left: -24px;
  width: calc(100% + 48px);
  height: 266px;
  margin: 0;
  top: -25px;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
  margin-bottom: -10px;
}
.catalog-banki .catalog-item__name {
  padding: 0;
  margin: 0 auto;
  max-width: 195px;
}

.filter {
  width: 262px;
}

.filter-caption {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  text-align: center;
}

.filter-body {
  background-color: #f4f0f0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin-top: 19px;
  padding: 17px 15px;
}
.filter-body input {
  width: 100%;
  height: 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #c2b6b6;
  background-color: #fff;
  text-align: center;
  color: #c2b6b6;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter-row .title {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 5px;
}
.filter-row .selectric-wrapper {
  width: 100%;
}
.filter-row .selectric {
  width: 100%;
  height: 55px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #c2b6b6;
  background-color: #fff;
}
.filter-row .selectric .label {
  color: #c2b6b6;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin: 0;
  padding: 0;
  padding: 20px 18px;
  height: 100%;
}
.filter-row .selectric .button {
  width: 52px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/pages/arrow-select.svg");
  background-color: transparent;
}
.filter-row .selectric .button::after {
  display: none;
}
.filter-row + .filter-row {
  margin-top: 20px;
}

.filter-col {
  width: calc(50% - 13.5px);
  position: relative;
}
.filter-col + .filter-col:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  left: -13.5px;
  top: 50%;
  background-color: #c2b6b6;
  left: -19px;
  top: 50%;
  background-color: #c2b6b6;
  width: 12px;
  height: 1px;
  margin-top: 0px;
}

.rangle-block {
  width: 100%;
  margin-top: -6px;
}

.irs {
  font-family: Geometria;
}

.irs--round .irs-handle {
  border-color: #d3145b;
  width: 15px;
  height: 15px;
  top: 30px;
  border-width: 3px;
}
.irs--round .irs-line {
  height: 3px;
}
.irs--round .irs-bar {
  background-color: #d3145b;
  height: 3px;
}
.irs--round .irs-to,
.irs--round .irs-from {
  display: none !important;
}
.irs--round .irs-min,
.irs--round .irs-max {
  background: transparent;
  color: #c2b6b6;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  padding: 0;
  text-align: center;
  display: flex;
  visibility: visible !important;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 15px;
}
.irs--round .irs-min::before,
.irs--round .irs-max::before {
  display: none;
}

.fitler-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.btn-filter {
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  cursor: pointer;
  background-color: #d3145b;
  gap: 10px;
  margin-bottom: 20px;
}
.btn-filter svg {
  pointer-events: none;
}
.btn-filter svg path {
  fill: #fff;
}
.btn-filter .text {
  pointer-events: none;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.card-right {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  max-width: 390px;
}
.card-right .btn {
  margin-top: 44px;
  width: 100%;
  max-width: 234px;
}

.card-name {
  color: #6a4b4b;
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
}

.card-price {
  color: #6a4b4b;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 23px;
  display: block;
}

.card-availability {
  margin: 0;
  margin-top: 29px;
  font-weight: 400;
}

.card-text {
  margin-top: 50px;
}
.card-text ul {
  margin-top: 35px;
}
.card-text ul li + li {
  margin-top: 13px;
}

.card-left {
  width: 457px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 42px;
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.slider-card.slider-for .slider-card__item {
  height: 380px;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.slider-card.slider-for img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-card.slider-nav {
  margin-top: 36px;
  width: 100%;
  height: 98px;
}
.slider-card.slider-nav .slider-card__item {
  width: 100%;
  height: 98px;
  overflow: hidden;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin: 0 12.5px;
  cursor: pointer;
}
.slider-card.slider-nav img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-characteristics {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  background-color: rgb(244, 240, 240);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 28px 47px;
  width: 100%;
  margin-top: 56px;
}
.card-characteristics__title {
  color: #d3145b;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}
.card-characteristics ul {
  width: 100%;
  margin-top: 25px;
}
.card-characteristics ul li {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.card-characteristics ul li:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  order: 2;
  position: relative;
  top: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: url("../img/pages/lines.svg");
  margin: 0 5px;
  flex: 1;
}
.card-characteristics ul li + li {
  margin-top: 13px;
}
.card-characteristics .title {
  order: 1;
  white-space: nowrap;
}
.card-characteristics .data {
  order: 2;
  width: 161px;
  text-align: left;
}

.portfolio-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.portfolio-tags .btn {
  font-size: 16px;
  line-height: 21px;
  border-width: 1px;
  padding: 10px 22px;
  min-width: 165px;
}
.portfolio-tags + .portfolio-list {
  margin-top: 39px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio-item {
  background-color: #f3f0f0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.portfolio-item__picture {
  width: 100%;
  height: 325px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-border-radius: 0 0 30px 30px;
  -moz-border-radius: 0 0 30px 30px;
  -ms-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
}
.portfolio-item__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item__body {
  color: #6a4b4b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.14px;
  padding: 15px 33px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.portfolio-item__name {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: auto;
  min-height: 37px;
  padding-bottom: 15px;
}

.portfolio-more {
  margin: 40px auto 0;
  display: block;
  width: 100%;
  max-width: 241px;
}

.contacts {
  padding-top: 25px;
}

.contacts-state ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 47px;
  max-width: 980px;
  margin: 0 auto;
}
.contacts-state .num {
  color: #d3145b;
  font-size: 70px;
  font-weight: 800;
  line-height: 70px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.contacts-state .text {
  display: block;
  color: #6a4b4b;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 15px;
  padding: 17px 0;
  width: 100%;
  -webkit-border-radius: 15px 15px 15px 0px;
  -moz-border-radius: 15px 15px 15px 0px;
  -ms-border-radius: 15px 15px 15px 0px;
  border-radius: 15px 15px 15px 0px;
  background-color: #f4f0f0;
  margin-top: 13px;
}

.contacts-info {
  margin-top: 81px;
}

.contacts-info__title {
  color: #6a4b4b;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  display: block;
}

.contacts-info__body {
  max-width: 601px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 43px 20px;
  margin-top: 55px;
}
.contacts-info__body .social {
  margin-left: auto;
}
.contacts-info__body .adress {
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #6a4b4b;
  gap: 14px;
}

.map {
  width: 100%;
  height: 662px;
  margin-top: 76px;
}
.map iframe {
  width: 100%;
  height: 100%;
}

.not-pages {
  background-image: url("../img/pages/bg-404.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 62px 5px;
}
.not-pages__text {
  text-align: center;
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
}

.not-pages__caption {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 12px;
}

.not-pages__top {
  color: #f2a2b3;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  display: block;
  text-align: center;
}

.titlePage-section--docs .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 907px;
}
.titlePage-section--docs .titlePage-section__caption {
  width: 100%;
  margin-bottom: 19px;
}
.titlePage-section--docs .titlePage-section__text {
  padding: 24px;
  width: calc(100% - 343px);
}
.titlePage-section--docs img {
  position: relative;
  left: 0;
  top: 0;
  width: 343px;
}

.doc-list {
  background-color: #ede0e0;
  padding: 40px 0;
  position: relative;
}
.doc-list:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves1.png");
  left: 0px;
  top: -95px;
  width: 181px;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.doc-list:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves2.png");
  right: 0px;
  top: -120px;
  width: 180px;
  height: 289px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.doc-list .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.doc-list .item {
  display: flex;
  flex-direction: column;
}
.doc-list .title {
  color: #d3145b;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
}
.doc-list .picture {
  display: block;
  width: 225px;
  height: 290px;
  position: relative;
  margin: 0 auto 39px;
}
.doc-list .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.doc-list .doc-content {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background-color: #fff;
  padding: 34px;
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 29px;
  flex: 1;
}
.doc-list .doc-content p + p {
  margin-top: 10px;
}
.doc-list .doc-content ul {
  padding-left: 10px;
}
.doc-list .doc-content ul li {
  position: relative;
  padding-left: 20px;
}
.doc-list .doc-content ul li:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #6a4b4b;
  top: 9px;
  left: 0;
}

.text-section .list {
  padding-top: 32px;
  border-top: solid 1px #c2b6b6;
  margin-top: 26px;
}
.text-section .item {
  display: grid;
  grid-template-columns: 1fr 458px;
}
.text-section .item + .item {
  margin-top: 55px;
}
.text-section .title {
  padding-right: 59px;
}
.text-section .title .caption {
  color: #d3145b;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.text-section .text {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.text-section .text h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  display: block;
  margin-bottom: 20px;
}
.text-section .btn {
  margin-top: 17px;
  width: 100%;
  max-width: 293px;
}

.author-block {
  -webkit-border-radius: 81.5px 30px 30px 81.5px;
  -moz-border-radius: 81.5px 30px 30px 81.5px;
  -ms-border-radius: 81.5px 30px 30px 81.5px;
  border-radius: 81.5px 30px 30px 81.5px;
  background-color: #f4f0f0;
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  gap: 27px;
  padding-left: 196px;
  margin-top: 48px;
  padding-top: 18px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.author-block .picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 6px;
  width: 152px;
  height: 152px;
  overflow: hidden;
}
.author-block .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.marketing-section {
  position: relative;
  background-color: #ede0e0;
  padding: 40px 0;
}
.marketing-section:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves1.png");
  left: 0px;
  top: -95px;
  width: 181px;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.marketing-section:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves2.png");
  right: 0px;
  top: -120px;
  width: 180px;
  height: 289px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.marketing-text {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.marketing-text ul {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.marketing-text ul li {
  position: relative;
  padding-left: 20px;
}
.marketing-text ul li:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #6a4b4b;
  top: 9px;
  left: 0;
}
.marketing-text p + p {
  margin-top: 20px;
}
.marketing-text a,
.marketing-text strong {
  color: #d3145b;
}
.marketing-text .caption {
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-bottom: 25px;
  line-height: 30px;
}
.marketing-text span {
  display: block;
}

.marketing-section .list {
  margin-top: 43px;
}
.marketing-section .item {
  display: grid;
  grid-template-columns: 1fr 585px;
}
.marketing-section .item + .item {
  margin-top: 55px;
}
.marketing-section .num {
  color: #d3145b;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  display: block;
}
.marketing-section .name {
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 22px;
  display: block;
  max-width: 289px;
  width: 100%;
}
.modalBlock .text {
  max-width: 460px;
}

.marketing-section__inner {
  max-width: 943px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
}
.marketing-section__inner .btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 266px;
  margin-top: 55px;
}
.marketing-section__inner .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: 23px;
  gap: 30px;
}
.marketing-section__inner .row .marketing-text {
  margin: 0;
}
.marketing-section__inner .row .caption {
  text-align: left;
  color: #d3145b;
}

.secrets-tags .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 35px;
}
.secrets-tags .list .btn {
  min-width: 79px;
  font-size: 16px;
  line-height: 21px;
  padding: 11px 14px;
  border-color: rgb(194, 182, 182);
}
.secrets-tags .list .btn.active {
  border-color: #d3145b;
  color: #d3145b;
}

.secrets {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: #ede0e0;
  position: relative;
  padding: 32px 0 50px;
}
.secrets:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves1.png");
  left: 0px;
  top: -95px;
  width: 181px;
  height: 282px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
.secrets:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-image: url("../img/pages/leaves2.png");
  right: 0px;
  top: 50%;
  width: 180px;
  height: 289px;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  margin-top: 50px;
}
.secrets p + p {
  margin-top: 25px;
}
.secrets .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.secrets .item {
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  padding: 28px 55px;
}
.secrets .people {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  padding-left: 120px;
  position: relative;
  min-height: 100px;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  margin-top: 22px;
}
.secrets .picture {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  grid-row: 1/3;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50px;
}
.secrets .picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secrets .btn {
  margin-top: 30px;
  width: 100%;
  max-width: 213px;
}

.secrets__tag {
  color: #d3145b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.secrets__name {
  color: #6a4b4b;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  margin-top: 26px;
}

.people__name {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.people__desc {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.secrets__tags {
  color: #c2b6b6;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 25px;
}
.secrets__tags li {
  display: inline-block;
  vertical-align: middle;
}

.secrets-controls {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}
.secrets-controls .btn {
  margin-top: 0;
}

.secret-item {
  max-width: 945px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.secret-item .btn {
  margin-top: 50px;
}
.secret-item .secrets__name {
  font-size: 30px;
  line-height: 40px;
}
.secret-item .people {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  padding-left: 234px;
  position: relative;
  min-height: 200px;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  margin-top: 52px;
  margin-bottom: 52px;
}
.secret-item .picture {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  grid-row: 1/3;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -100px;
}
.secret-item .picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.secret-item .text-section {
  padding: 0;
}

.project-page__inner {
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-page__inner .caption {
  color: #d3145b;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.project-page__inner ul {
  padding-left: 10px;
}
.project-page__inner ul li {
  position: relative;
  padding-left: 20px;
}
.project-page__inner ul li + li {
  margin-top: 20px;
}
.project-page__inner ul li:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #6a4b4b;
  top: 9px;
  left: 0;
}

.project-mainText {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 24px;
  background-color: #f4f0f0;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.customer {
  color: #6a4b4b;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 30px 0;
}
.customer .date {
  color: #c2b6b6;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  display: block;
}
.customer .name {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  margin-top: 15px;
}
.customer .desc {
  color: #6a4b4b;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  margin-top: 11px;
}

.customer-inner {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
  background-color: #f3f0f0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.customer-left {
  width: 216px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
  overflow: hidden;
}
.customer-left img {
  width: 100%;
}

.customer-right {
  width: 100%;
  max-width: 405px;
}
.customer-right .text {
  margin-top: 22px;
}
.customer-right .text p + p {
  margin-top: 15px;
}

.section-title {
  color: #d3145b;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.product-project {
  padding: 30px 0;
}

.project-section .catalog-item__info li {
  align-items: flex-start;
}
.project-section .catalog-item .data {
  color: #d3145b;
  max-width: 93px;
}
.project-section .catalog-item a.data {
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: text-decoration 0.3s;
  -moz-transition: text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
}
.project-section .catalog-item a.data:hover {
  text-decoration-color: #d3145b;
}

.finished-products .selectList {
  max-width: 800px;
  margin: auto;
  max-width: 700px;
  margin: auto;
  padding: 0;
}
.finished-products .selectList .selectItem {
  width: calc(50% - 68px);
  max-width: 400px;
}
.finished-products .calcWrapper .calc form {
  position: relative;
}

.calc-list-wrap {
  padding: 7px 15px 33px 15px;
  background-color: #f4f0f0;
  -webkit-border-radius: 30px 30px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  -ms-border-radius: 30px 30px 0px 0px;
  border-radius: 30px 30px 0px 0px;
}

.project-pictures {
  padding: 30px 0;
}
.project-pictures .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 29px;
}
.project-pictures .item {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  overflow: hidden;
}
.project-pictures .item .picture {
  width: 100%;
  height: 100%;
  display: block;
}
.project-pictures .item .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.not-pages__code {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  width: 100%;
}
.index-page .header {
  padding: 0;
}
.index-page .header .container {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 0 20px 20px 0;
  margin-top: 20px;
}
.index-page .header .headerContent {
  background: transparent;
}
.index-page .grettingsWrapper {
  margin-top: -186px;
}

@media (max-width: 1199px) {
  .header .title {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .headerContent-right {
    padding-top: 0;
  }
  .header .headerContent-right__row {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;
  }
  .header .btn {
    margin: 0 auto;
  }
  .menu {
    font-size: 14px;
    line-height: 20px;
  }
  .titlePage-section--img .titlePage-section__text {
    padding-left: calc(50% - 110px);
  }
  .catalog-list {
    gap: 10px 20px;
  }
  .catalog-item {
    padding: 18px;
  }
  .product-section__inner {
    gap: 15px;
  }
  .product-section__info {
    padding: 25px;
  }
  .cooperation-item__body {
    padding: 30px;
  }
  .catalog-banki .catalog-item__picture {
    left: -19px;
    width: calc(100% + 38px);
    height: 222px;
  }
  .portfolio-list {
    gap: 15px;
  }
  .titlePage-section--docs .titlePage-section__text {
    padding-left: 24px;
  }
  .secrets .list {
    gap: 20px;
  }
  .project-page__inner .project-text {
    width: calc(50% - 10px);
  }
  .index-page .header .headerContent-right__row {
    padding-top: 10px;
  }
  .index-page .grettingsWrapper {
    margin-top: -220px;
  }
}
@media (max-width: 1023px) {
  .header {
    padding: 15px 0;
  }
  .header .headerContent {
    align-items: center;
  }
  .header .headerContent-right__row {
    gap: 10px 10px;
    justify-content: space-between;
    padding: 0 10px;
  }
  .header .headerContent-right__row + .headerContent-right__row {
    margin-top: 5px;
  }
  .menu-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;
  }
  .titlePage-section__text {
    padding: 25px;
  }
  .titlePage-section--img .titlePage-section__text {
    padding-left: calc(50% + 15px);
  }
  .catalog-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-section__inner {
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
  }
  .product-section__inner .product-section__info:last-child {
    grid-column: 1/3;
  }
  .finished-products .catalog-item__picture {
    width: calc(100% + 37px);
    left: -19px;
    top: -19px;
    margin-bottom: -19px;
  }
  .cooperation-item__head .title {
    font-size: 20px;
    line-height: 30px;
  }
  .cooperation-section--analitic .cooperation-list {
    grid-template-columns: 1fr 1fr;
  }
  .cooperation-section--analitic .cooperation-item {
    grid-template-columns: 1fr;
  }
  .cooperation-section--analitic .cooperation-item__body {
    margin-top: 30px;
  }
  .cooperation-section--analitic .title {
    max-width: 100%;
  }
  .cooperation-section--analitic .cooperation-item__head {
    padding-right: 0;
  }
  .text-section .cols {
    columns: auto;
  }
  .text-section .container {
    width: 768px;
  }
  .catalog--box .catalog-item__picture {
    height: 250px;
  }
  .catalog--box {
    padding-top: 0;
  }
  .catalog-banki {
    position: relative;
  }
  .filter {
    position: absolute;
    right: -500px;
    top: 75px;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 5;
  }
  .filter .filter-body {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  }
  .filter.show {
    right: 15px;
  }
  .catalog--left {
    width: 100%;
  }
  .btn-filter {
    display: flex;
  }
  .card-left {
    width: 100%;
  }
  .slider-card.slider-for .slider-card__item {
    height: 560px;
  }
  .slider-card.slider-nav {
    margin-top: 20px;
  }
  .card-right {
    width: 100%;
    max-width: 100%;
    padding: 24px 16px;
  }
  .card-characteristics {
    padding: 24px 16px;
    margin-top: 30px;
  }
  .card-right .btn {
    margin-top: 22px;
  }
  .card-availability {
    margin-top: 22px;
  }
  .card-text {
    margin-top: 30px;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-tags {
    gap: 15px;
    flex-wrap: wrap;
  }
  .portfolio-tags + .portfolio-list {
    margin-top: 20px;
  }
  .contacts-state .num {
    font-size: 50px;
    line-height: 60px;
  }
  .contacts-state .text {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts-state ul {
    gap: 20px;
  }
  .map {
    width: 100%;
    height: 420px;
    margin-top: 50px;
  }
  .titlePage-section--docs img {
    margin: 0 auto;
  }
  .titlePage-section--docs .titlePage-section__text {
    padding: 24px;
  }
  .doc-list .doc-content {
    padding: 20px;
  }
  .text-section .item {
    grid-template-columns: 1fr 1fr;
  }
  .marketing-section .item {
    display: block;
  }
  .marketing-section .title {
    margin-bottom: 20px;
  }
  .secrets .item {
    padding: 15px;
  }
  .secrets__name {
    font-size: 18px;
    line-height: 20px;
    margin-top: 15px;
  }
  .secrets__tag {
    font-size: 14px;
    line-height: 20px;
  }
  .secrets {
    font-size: 16px;
    line-height: 20px;
  }
  .secrets__tags {
    font-size: 16px;
    line-height: 20px;
  }
  .secret-item .text-section {
    padding: 0;
  }
  .secret-item .picture {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }
  .secret-item .people {
    margin-bottom: 15px;
    padding-left: 120px;
    min-height: 100px;
    gap: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .secret-item .btn {
    margin-top: 25px;
  }
  .project-page__inner {
    font-size: 16px;
    line-height: 20px;
  }
  .project-page__inner .caption {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .project-page__inner ul li + li {
    margin-top: 10px;
  }
  .finished-products .selectList .selectItem {
    width: calc(50% - 45px);
  }
  .filter {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    background-color: #f4f0f0;
    padding-top: 20px;
    overflow: hidden;
  }
  .filter .filter-body {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: 0;
  }
  .not-pages__code {
    max-width: 80%;
  }
  .index-page .grettingsWrapper {
    margin-top: -250px;
  }
}
@media (max-width: 767px) {
  .header .headerContent {
    display: flex;
    align-items: flex-start;
  }
  .header .headerContent {
    align-items: center;
  }
  .header .headerContent-right__row {
    justify-content: center;
  }
  .header .headerContent-right__row + .headerContent-right__row {
    display: none;
  }
  .header .title {
    display: none;
  }
  .titlePage-section__caption {
    font-size: 24px;
    line-height: 32px;
  }
  .titlePage-section__text {
    font-size: 18px;
    line-height: 20px;
    padding: 20px;
  }
  .titlePage-section__text p + p {
    margin-top: 15px;
  }
  .recipesList .item .text .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    max-width: 320px;
  }
  .recipesList .item .text .btn::before {
    display: none;
  }
  .recipes-controls {
    margin-top: 55px;
  }
  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-section__picture .picture {
    height: 364px;
  }
  .product-section__picture .title {
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
  }
  .cooperation-list {
    grid-template-columns: 1fr;
  }
  .cooperation-item__body {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    margin-top: 15px;
  }
  .cooperation-section--analitic .cooperation-list {
    grid-template-columns: 1fr;
  }
  .cooperation-section--analitic .cooperation-item__body {
    margin-top: 15px;
  }
  .text-section {
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;
  }
  .text-section .container {
    width: 100%;
  }
  .text-section h3 {
    margin-top: 25px;
  }
  .text-section p + p {
    margin-top: 15px;
  }
  .text-section .rows {
    margin: 15px 0;
    padding: 15px 0;
  }
  .text-section h3 + * {
    margin-top: 35px;
  }
  .catalog--left .catalog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .contacts-state .text {
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
  }
  .contacts {
    padding-top: 0;
  }
  .contacts-info {
    margin-top: 50px;
  }
  .not-pages__caption {
    font-size: 30px;
    line-height: 40px;
  }
  .not-pages {
    font-size: 16px;
    line-height: 20px;
    padding: 30px 0;
  }
  .titlePage-section--docs .container {
    display: block;
    text-align: center;
  }
  .titlePage-section--docs .titlePage-section__text {
    width: 100%;
    margin: 0;
  }
  .doc-list .list {
    grid-template-columns: 1fr;
  }
  .text-section .item {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .doc-list .doc-content {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
  .text-section .text {
    font-size: 16px;
    line-height: 20px;
  }
  .text-section .title .caption {
    font-size: 18px;
    line-height: 24px;
  }
  .text-section .item + .item {
    margin-top: 30px;
  }
  .text-section .list {
    padding-top: 25px;
    margin-top: 25px;
  }
  .marketing-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
  }
  .marketing-section__inner .row {
    display: block;
  }
  .marketing-section__inner .row .marketing-text + .marketing-text {
    margin-top: 20px;
  }
  .marketing-section .item + .item {
    margin-top: 30px;
  }
  .secrets .picture {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  .secrets .people {
    min-height: 50px;
    padding-left: 70px;
    gap: 0;
  }
  .people__desc,
  .people__name {
    font-size: 14px;
    line-height: 20px;
  }
  .secret-item .secrets__name {
    font-size: 20px;
    line-height: 30px;
  }
  .customer-right {
    width: 100%;
    max-width: 324px;
  }
  .finished-products .selectList .selectItem {
    width: 100%;
  }
  .project-pictures {
    padding: 16px 0;
  }
  .project-pictures .list {
    gap: 15px;
  }
  .index-page .header .headerContent-right__row {
    padding-top: 0;
  }
}
@media (max-width: 639px) {
  .titlePage-section__text {
    font-size: 16px;
    line-height: 18px;
    padding: 20px;
  }
  .recipesList .item .text .btn {
    max-width: 280px;
  }
  .titlePage-section--img img {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .titlePage-section--img .titlePage-section__text {
    padding-left: 20px;
  }
  .catalog-list {
    gap: 10px;
  }
  .btns-section {
    padding-top: 30px;
  }
  #modal-checkout .modal__container {
    max-width: 380px;
    padding: 50px 25px;
  }
  #modal-checkout .modal__close {
    right: 0;
  }
  .modalBlock .cap {
    font-size: 20px;
    line-height: 28px;
  }
  .modalBlock .text {
    font-size: 15px;
    line-height: 16px;
    margin-top: 15px;
  }
  .modalBlock .inputList {
    margin-top: 30px;
  }
  .product-section__inner {
    grid-template-columns: 1fr;
    padding-top: 16px;
  }
  .product-section__inner .product-section__info:last-child {
    grid-column: 1/2;
  }
  #modal-result {
    font-size: 14px;
    line-height: 16px;
  }
  .modal-more .modal__container,
  #modal-result .modal__container,
  #modal-dev .modal__container,
  #modal-more .modal__container,
  #modal-checkout .modal__container {
    padding: 50px 15px;
  }
  .modal-more .modal__close,
  #modal-result .modal__close,
  #modal-dev .modal__close,
  #modal-more .modal__close,
  #modal-checkout .modal__close {
    right: 0;
    top: -20px;
  }
  .text-section h3 {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }
  .text-section h3 + * {
    margin-top: 20px;
  }
  .text-section h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .text-section .cols + h2 {
    margin-top: 50px;
  }
  .slider-card.slider-for .slider-card__item {
    padding-top: 15.625%;
    height: auto;
  }
  .slider-card.slider-for .slider-card__item img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .portfolio-list {
    grid-template-columns: 1fr;
  }
  .portfolio-item__picture {
    position: relative;
    width: 100%;
    padding-top: 50%;
    height: auto;
  }
  .portfolio-item__picture img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .portfolio-item__body {
    padding: 15px;
  }
  .portfolio-tags {
    gap: 10px;
    justify-content: space-between;
  }
  .portfolio-tags li {
    width: calc(50% - 5px);
  }
  .portfolio-tags .btn {
    font-size: 14px;
    line-height: 20px;
    min-width: inherit;
    width: 100%;
  }
  .contacts-info__body .social {
    margin-left: 0;
  }
  .contacts-info__body .linkMail {
    width: 100%;
  }
  .map {
    width: 100%;
    height: 350px;
    margin-top: 30px;
  }
  .contacts-state ul {
    grid-template-columns: 1fr;
  }
  .contacts-info__body .adress .adressTxt {
    flex: 1;
    font-size: 16px;
  }
  .contacts-info__body {
    gap: 20px 10px;
    margin-top: 30px;
  }
  .secrets .list {
    grid-template-columns: 1fr;
  }
  .customer-inner {
    flex-wrap: wrap;
  }
  .customer-right {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .customer-right .text {
    text-align: left;
  }
  .project-page__inner {
    padding: 15px;
  }
  .project-page__inner .project-text {
    width: 100%;
  }
  .project-page__inner .project-text + .project-text {
    margin-top: 20px;
  }
  .customer {
    padding: 15px 0;
  }
  .project-mainText {
    margin-bottom: 20px;
  }
  .product-project {
    padding: 15px 0;
  }
  .customer-left {
    margin: 0 auto;
  }
  .customer .name {
    margin-top: 5px;
  }
  .customer .desc {
    margin-top: 5px;
  }
  .customer-right .text {
    margin-top: 10px;
  }
  .not-pages__code {
    max-width: 100%;
  }
}
@media (max-width: 479px) {
  .header .headerContent {
    display: grid;
    grid-template-rows: 36px 36px;
    align-items: start;
  }
  .header .headerContent-right {
    width: 100%;
  }
  .header .headerContent-right__row {
    padding: 0;
  }
  .menu {
    font-size: 13px;
    line-height: 15px;
    padding: 0 10px;
  }
  .catalog-list {
    grid-template-columns: 1fr;
  }
  .catalog--left .catalog-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .card-characteristics {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .card-characteristics ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;
  }
  .card-characteristics ul li {
    flex-wrap: wrap;
    display: flex;
  }
  .card-characteristics ul li::before {
    display: none;
  }
  .card-characteristics ul li + li {
    margin-top: 0;
  }
  .card-characteristics ul li:last-child {
    grid-column: 1/3;
  }
  .card-characteristics .title {
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    white-space: normal;
  }
  .card-characteristics .data {
    width: 100%;
    text-align: center;
  }
  .author-block {
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
  }
  .author-block .picture {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style-pages.css.map */
