.header {
  padding: 26px 0;

  .headerContent {
    align-items: flex-start;
    align-items: inherit;
    padding: 0;
  }

  .headerContent-right__row {
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;

    & + .headerContent-right__row {
    }
  }

  .headerContent-right {
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
  }

  .btn {
    max-width: 264px;
    width: 100%;
    margin-left: auto;
    font-size: 16px;
    line-height: 24px;
    padding: 5px;
  }

  .linkPhone {
    margin-left: 0;
  }
}

.menu {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 0 27px;
  margin-top: 16px;

  a {
    &:hover {
      color: #d3145b;
    }
  }
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlePage-section {
  padding: 41px 0;

  &--img {
    img {
      position: absolute;
      left: 0;
      top: 0;
      max-width: 360px;
      width: 50%;
      height: 100%;
      @include border-radius(30px);
    }

    .titlePage-section__text {
      max-width: 812px;
      padding-left: calc(50% - 180px);
    }
  }
}

.titlePage-section__caption {
  color: #6a4b4b;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
}

.titlePage-section__text {
  overflow: hidden;
  max-width: 750px;
  width: 100%;
  margin: 24px auto 0;
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background-color: #f4f0f0;
  @include border-radius(30px);
  padding: 34px 48px 26px;
  position: relative;

  p {
    & + p {
      margin-top: 25px;
    }
  }

  .caption {
    color: #d3145b;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    line-height: 24px;
  }
}

.recipesWrapper--new {
  padding: 0;
  margin-top: -63px;

  .recipes {
    .text {
      .btn {
        @include before {
          left: 50%;
          top: -55px;
          background-image: url(../img/petal.png);
          background-position: center;
          background-repeat: no-repeat;
          width: 71px;
          height: 77px;
          margin-left: -37px;
          background-size: contain;
          pointer-events: none;
        }
      }
    }
  }
}

.recipes-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}

.catalog {
  background-color: #ede0e0;
  padding: 45px 0;
  background-image: url("../img/grettings-petal1.png");
  background-position: -90px calc(100% + 25px);
  background-repeat: no-repeat;

  &--section {
    padding-top: 142px;
    padding-bottom: 50px;
    margin-top: -135px;
    background-image: none;
  }

  .siteTitle {
    & + * {
      margin-top: 30px;
    }
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 30px;
}

.availability {
  color: #c2b6b6;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  margin: 12px auto 0;
  display: table;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 15px;

  &--yes {
    background-image: url("../img/pages/check.svg");
  }

  &--no {
    background-image: url("../img/pages/not.svg");
    padding-left: 20px;
  }
}

.catalog-item {
  @include border-radius(30px);
  border: 1.5px solid #e9e1e1;
  background: #fff;
  filter: drop-shadow(10px 10px 15px rgba(106, 75, 75, 0.2));
  padding: 24px 24px 11px;
  position: relative;

  .btn {
    width: 100%;
    margin-top: 29px;
  }

  .text {
    color: #c2b6b6;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    display: block;
    margin-top: 13px;
    max-width: 167px;
    margin-left: auto;
    margin-right: auto;
  }

  .count {
    color: #6a4b4b;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 12px;
    display: block;
  }

  .link {
    color: #d3145b;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    margin: 12px auto 0;
    display: table;
    text-decoration: underline;
    text-decoration-color: transparent;
    @include transition(text-decoration 0.3s);

    &:hover {
      text-decoration-color: #d3145b;
    }
  }
}

.catalog-item__picture {
  width: 167px;
  height: 203px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include border-radius(15px);
  overflow: hidden;
  display: block;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.catalog-item__name {
  color: #6a4b4b;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  margin: 13px auto;
  @include transition(all 0.3s);
  max-width: 135px;

  &:hover {
    color: rgba(211, 20, 91, 1);
  }
}

.catalog-item__info {
  color: #6a4b4b;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-top: 19px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;

    & + li {
      border-top: solid 1px #c2b6b6;
      margin-top: 10px;
      padding-top: 10px;
    }

    .title {
      max-width: 59%;
    }
  }
}

.rating {
  position: relative;
  width: 70px;
  height: 14px;

  .stars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: left center;
    background-image: url("../img/pages/star-gray.svg");
  }

  .stars-green {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-position: left center;
    background-image: url("../img/pages/star-green.svg");
  }
}

.btns-section {
  padding-top: 48px;

  .btns-section__controls {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 307px;

    @include before {
      background-image: url("../img/petal.png");
      background-position: center;
      background-repeat: no-repeat;
      right: -33px;
      bottom: -28px;
      width: 120px;
      height: 111px;
      z-index: 6;
      pointer-events: none;
      background-size: contain;
    }
  }

  .btn {
    max-width: 100%;
    width: 100%;
    padding-right: 55px;
  }
}

.modal {
  position: relative;
  font-family: "Geometria";
}

.modal-more,
#modal-result,
#modal-dev,
#modal-more,
#modal-checkout {
  .modal__close {
    right: -40px;
    top: -20px;
  }

  .modal__content {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  .modal__container {
    max-width: 600px;
    padding: 50px 65px;
    width: 100%;
    background-color: #fff;
    @include border-radius(20px);
  }
}

#modal-dev .inputList {
  margin-top: 20px;
}

#modal-result {
  color: #6a4b4b;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;

  .siteTitle {
    margin-bottom: 19px;
  }
}

.product-section {
  padding: 40px 0;
}

.product-section__inner {
  display: grid;
  grid-template-columns: 360px 263px 1fr;
  gap: 30px;
  align-items: flex-start;
  padding-top: 38px;
}

.product-section__picture {
  .picture {
    width: 100%;
    height: 453px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include border-radius(30px);
    }
  }
  .product-section__volume {
    margin-top: 20px;
    background: #d7f2d8;
    @include border-radius(15px);
    display: flex;
    overflow: hidden;
  }

  .title {
    color: #6a4b4b;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 10px;
    flex: 1;
  }

  .volume {
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    background-color: #d3145b;
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}

.product-section__info {
  @include border-radius(30px);
  background-color: #f4f0f0;
  padding: 28px 50px 28px 46px;

  .cap {
    color: #d3145b;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .list {
    color: #6a4b4b;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 31px;
  }

  li {
    & + li {
      margin-top: 15px;
    }
  }
}

.finished-products {
  .catalog {
    background: transparent;
  }

  .catalog-item__picture {
    height: 266px;
    width: calc(100% + 50px);
    position: relative;
    left: -25px;
    top: -25px;
    margin-bottom: -25px;
    @include border-radius(30px);
  }

  .calcWrapper {
    padding-top: 45px;
  }
}

.cooperation-section {
  background-color: #ede0e0;
  padding: 42px 0 48px;
  position: relative;

  @include before {
    background-image: url("../img/pages/leaves1.png");
    left: 0px;
    top: -95px;
    width: 181px;
    height: 282px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @include after {
    background-image: url("../img/pages/leaves2.png");
    right: 0px;
    top: 50%;
    width: 180px;
    height: 289px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    margin-top: 50px;
  }
}

.cooperation-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 30px;
  position: relative;
  z-index: 3;
}

.cooperation-item {
}

.cooperation-item__head {
  .title {
    color: #6a4b4b;
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    display: block;
  }
}

.cooperation-item__body {
  background-color: #fff;
  @include border-radius(20px);
  padding: 40px 55px;
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 32px;

  p {
    & + p {
      margin-top: 24px;
    }
  }

  .btn {
    margin-top: 32px;
    font-size: 18px;
    line-height: 51px;
    padding: 0 15px;
    min-width: 213px;
  }
}

.cooperation-section--analitic {
  .cooperation-list {
    grid-template-columns: 1fr;
    position: relative;
  }

  .cooperation-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cooperation-item__head {
    padding-right: 68px;
  }

  .cooperation-item__body {
    margin-top: 0;
  }

  .title {
    max-width: 333px;
  }
}

.text-section {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 40px;

  .container {
    width: 975px;
  }

  h2 {
    color: #6a4b4b;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    display: block;
  }

  h3 {
    color: #6a4b4b;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    display: block;
    margin-top: 36px;

    & + * {
      margin-top: 55px;
    }
  }

  p {
    & + p {
      margin-top: 25px;
    }
  }

  .cols {
    columns: 2 auto;

    & + h2 {
      margin-top: 72px;
    }
  }

  .rows {
    margin: 35px 0;
    border-top: solid 1px #c2b6b6;
    border-bottom: solid 1px #c2b6b6;
    padding: 35px 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.catalog--box {
  padding-top: 0;
  background-color: transparent;
  background-image: none;

  .catalog-item__picture {
    height: 272px;
    width: calc(100% - 47px);
  }

  .catalog-list {
    gap: 20px 25px;
  }

  .catalog-item {
    padding: 24px 0;
    filter: none;
  }
}

.catalog--left {
  padding: 0;
  background-color: transparent;
  background-image: none;
  width: calc(100% - 262px - 30px);

  .catalog-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-item {
    filter: none;
  }
}

.catalog-banki__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-banki {
  .catalog-item__picture {
    left: -24px;
    width: calc(100% + 48px);
    height: 266px;
    margin: 0;
    top: -25px;
    @include border-radius(30px 30px 0 0);
    margin-bottom: -10px;
  }

  .catalog-item__name {
    padding: 0;
    margin: 0 auto;
    max-width: 195px;
  }
}

.filter {
  width: 262px;
}

.filter-caption {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  text-align: center;
}

.filter-body {
  background-color: #f4f0f0;
  @include border-radius(30px);
  margin-top: 19px;
  padding: 17px 15px;

  input {
    width: 100%;
    height: 55px;
    @include border-radius(10px);
    border: 1px solid #c2b6b6;
    background-color: #fff;
    text-align: center;
    color: #c2b6b6;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
  }
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .title {
    color: #6a4b4b;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 5px;
  }

  .selectric-wrapper {
    width: 100%;
  }

  .selectric {
    width: 100%;
    height: 55px;
    @include border-radius(10px);
    border: 1px solid #c2b6b6;
    background-color: #fff;

    .label {
      color: #c2b6b6;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      margin: 0;
      padding: 0;
      padding: 20px 18px;
      height: 100%;
    }

    .button {
      width: 52px;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../img/pages/arrow-select.svg");
      background-color: transparent;

      &::after {
        display: none;
      }
    }
  }

  & + .filter-row {
    margin-top: 20px;
  }
}

.filter-col {
  width: calc(50% - 13.5px);
  position: relative;

  & + .filter-col {
    @include before {
      left: -13.5px;
      top: 50%;
      background-color: #c2b6b6;
      left: -19px;
      top: 50%;
      background-color: #c2b6b6;
      width: 12px;
      height: 1px;
      margin-top: 0px;
    }
  }
}

.rangle-block {
  width: 100%;
  margin-top: -6px;
}

.irs {
  font-family: Geometria;
}

.irs--round {
  .irs-handle {
    border-color: #d3145b;
    width: 15px;
    height: 15px;
    top: 30px;
    border-width: 3px;
  }

  .irs-line {
    height: 3px;
  }

  .irs-bar {
    background-color: #d3145b;
    height: 3px;
  }

  .irs-to,
  .irs-from {
    display: none !important;
  }

  .irs-min,
  .irs-max {
    background: transparent;
    color: #c2b6b6;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    padding: 0;
    text-align: center;
    display: flex;
    visibility: visible !important;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 15px;

    &::before {
      display: none;
    }
  }
}

.fitler-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.btn-filter {
  display: none;
  align-items: center;
  justify-content: center;
  @include border-radius(30px);
  padding: 15px;
  cursor: pointer;
  background-color: #d3145b;
  gap: 10px;
  margin-bottom: 20px;

  svg {
    pointer-events: none;

    path {
      fill: #fff;
    }
  }

  .text {
    pointer-events: none;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
}

.card-right {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  max-width: 390px;

  .btn {
    margin-top: 44px;
    width: 100%;
    max-width: 234px;
  }
}

.card-name {
  color: #6a4b4b;
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
}

.card-price {
  color: #6a4b4b;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 23px;
  display: block;
}

.card-availability {
  margin: 0;
  margin-top: 29px;
  font-weight: 400;
}

.card-text {
  margin-top: 50px;

  ul {
    margin-top: 35px;

    li {
      & + li {
        margin-top: 13px;
      }
    }
  }
}

.card-left {
  width: 457px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 42px;
  max-width: 945px;
  margin-left: auto;
  margin-right: auto;
}

.slider-card__item {
}

.slider-card {
  &.slider-for {
    .slider-card__item {
      height: 380px;
      overflow: hidden;
      @include border-radius(30px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.slider-nav {
    margin-top: 36px;
    width: 100%;
    height: 98px;

    .slider-card__item {
      width: 100%;
      height: 98px;
      overflow: hidden;
      @include border-radius(30px);
      margin: 0 12.5px;
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-characteristics {
  color: #6a4b4b;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  background-color: rgba(244, 240, 240, 1);
  @include border-radius(30px);
  padding: 28px 47px;
  width: 100%;
  margin-top: 56px;

  &__title {
    color: #d3145b;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    display: block;
  }

  ul {
    width: 100%;
    margin-top: 25px;

    li {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;

      @include before {
        order: 2;
        position: relative;
        top: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: url("../img/pages/lines.svg");
        margin: 0 5px;
        flex: 1;
      }

      & + li {
        margin-top: 13px;
      }
    }
  }

  .title {
    order: 1;
    white-space: nowrap;
  }

  .data {
    order: 2;
    width: 161px;
    text-align: left;
  }
}

.portfolio {
}

.portfolio-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .btn {
    font-size: 16px;
    line-height: 21px;
    border-width: 1px;
    padding: 10px 22px;
    min-width: 165px;
  }

  & + .portfolio-list {
    margin-top: 39px;
  }
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.portfolio-item {
  background-color: #f3f0f0;
  @include border-radius(30px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.portfolio-item__picture {
  width: 100%;
  height: 325px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  @include border-radius(0 0 30px 30px);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.portfolio-item__body {
  color: #6a4b4b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.14px;
  padding: 15px 33px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.portfolio-item__name {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: auto;
  min-height: 37px;
  padding-bottom: 15px;
}

.portfolio-more {
  margin: 40px auto 0;
  display: block;
  width: 100%;
  max-width: 241px;
}

.contacts {
  padding-top: 25px;
}

.contacts-state {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 47px;
    max-width: 980px;
    margin: 0 auto;
  }

  li {
  }

  .num {
    color: #d3145b;
    font-size: 70px;
    font-weight: 800;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
  .text {
    display: block;
    color: #6a4b4b;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 15px;
    padding: 17px 0;
    width: 100%;
    @include border-radius(15px 15px 15px 0px);
    background-color: #f4f0f0;
    margin-top: 13px;
  }
}

.contacts-info {
  margin-top: 81px;
}

.contacts-info__title {
  color: #6a4b4b;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  display: block;
}

.contacts-info__body {
  max-width: 601px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 43px 20px;
  margin-top: 55px;

  .social {
    margin-left: auto;
  }

  .adress {
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6a4b4b;
    gap: 14px;
  }
}

.map {
  width: 100%;
  height: 662px;
  margin-top: 76px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.not-pages {
  background-image: url("../img/pages/bg-404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  padding: 62px 5px;

  h2 {
  }
}

.not-pages__text {
  margin-top: auto;
  text-align: center;
  max-width: 555px;
  margin-left: auto;
  margin-right: auto;
}

.not-pages__caption {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 12px;
}

.not-pages__top {
  color: #f2a2b3;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  display: block;
  text-align: center;
}

.titlePage-section--docs {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 907px;
  }

  .titlePage-section__caption {
    width: 100%;
    margin-bottom: 19px;
  }

  .titlePage-section__text {
    padding: 24px;
    width: calc(100% - 343px);
  }

  img {
    position: relative;
    left: 0;
    top: 0;
    width: 343px;
  }
}

.doc-list {
  background-color: #ede0e0;
  padding: 40px 0;
  position: relative;

  @include before {
    background-image: url("../img/pages/leaves1.png");
    left: 0px;
    top: -95px;
    width: 181px;
    height: 282px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @include after {
    background-image: url("../img/pages/leaves2.png");
    right: 0px;
    top: -120px;
    width: 180px;
    height: 289px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
    z-index: 2;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .title {
    color: #d3145b;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
  }

  .picture {
    display: block;
    width: 225px;
    height: 290px;
    position: relative;
    margin: 0 auto 39px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .doc-content {
    @include border-radius(30px);
    background-color: #fff;
    padding: 34px;
    color: #6a4b4b;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 29px;
    flex: 1;

    p {
      & + p {
        margin-top: 10px;
      }
    }

    ul {
      padding-left: 10px;

      li {
        position: relative;
        padding-left: 20px;

        @include before {
          @include border-radius(50%);
          width: 5px;
          height: 5px;
          background-color: #6a4b4b;
          top: 9px;
          left: 0;
        }
      }
    }
  }
}

.text-section {
  .list {
    padding-top: 32px;
    border-top: solid 1px #c2b6b6;
    margin-top: 26px;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 458px;

    & + .item {
      margin-top: 55px;
    }
  }

  .title {
    padding-right: 59px;

    .caption {
      color: #d3145b;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
  }

  .text {
    color: #6a4b4b;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    h2 {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      display: block;
      margin-bottom: 20px;
    }
  }

  .btn {
    margin-top: 17px;
    width: 100%;
    max-width: 293px;
  }
}

.text-section__inner {
}

.author-block {
  @include border-radius(81.5px 30px 30px 81.5px);
  background-color: #f4f0f0;
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  gap: 27px;
  padding-left: 196px;
  margin-top: 48px;
  padding-top: 18px;
  padding-right: 24px;
  padding-bottom: 20px;

  .picture {
    @include border-radius(50%);
    position: absolute;
    top: 4px;
    left: 6px;
    width: 152px;
    height: 152px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include border-radius(50%);
    }
  }

  .author-name {
  }
}

.marketing-section {
  position: relative;
  background-color: #ede0e0;
  padding: 40px 0;

  @include before {
    background-image: url("../img/pages/leaves1.png");
    left: 0px;
    top: -95px;
    width: 181px;
    height: 282px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @include after {
    background-image: url("../img/pages/leaves2.png");
    right: 0px;
    top: -120px;
    width: 180px;
    height: 289px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

.marketing-text {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  @include border-radius(30px);
  padding: 30px;

  margin-left: auto;
  margin-right: auto;

  ul {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    li {
      position: relative;
      padding-left: 20px;

      @include before {
        @include border-radius(50%);
        width: 5px;
        height: 5px;
        background-color: #6a4b4b;
        top: 9px;
        left: 0;
      }
    }
  }

  p {
    & + p {
      margin-top: 20px;
    }
  }

  a,
  strong {
    color: #d3145b;
  }

  .caption {
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 25px;
    line-height: 30px;
  }

  span {
    display: block;
  }
}

.marketing-section {
  .list {
    margin-top: 43px;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 585px;

    & + .item {
      margin-top: 55px;
    }
  }

  .title {
  }

  .num {
    color: #d3145b;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    display: block;
  }
  .name {
    color: #6a4b4b;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 22px;
    display: block;
    max-width: 289px;
    width: 100%;
  }
  .text {
  }
}

.modalBlock .text {
  max-width: 460px;
}

.marketing-section__inner {
  max-width: 943px;
  position: relative;
  margin: 0 auto;
  z-index: 2;

  .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 266px;
    margin-top: 55px;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 23px;
    gap: 30px;

    .marketing-text {
      margin: 0;
    }

    .caption {
      text-align: left;
      color: #d3145b;
    }
  }
}

.secrets-tags {
  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 35px;

    .btn {
      min-width: 79px;
      font-size: 16px;
      line-height: 21px;
      padding: 11px 14px;
      border-color: rgba(194, 182, 182, 1);

      &.active {
        border-color: #d3145b;
        color: #d3145b;
      }
    }
  }
}

.secrets {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  background-color: #ede0e0;
  position: relative;
  padding: 32px 0 50px;

  @include before {
    background-image: url("../img/pages/leaves1.png");
    left: 0px;
    top: -95px;
    width: 181px;
    height: 282px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  @include after {
    background-image: url("../img/pages/leaves2.png");
    right: 0px;
    top: 50%;
    width: 180px;
    height: 289px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    margin-top: 50px;
  }

  p + p {
    margin-top: 25px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
    z-index: 2;
  }

  .item {
    background-color: #fff;
    @include border-radius(15px);
    padding: 28px 55px;
  }

  .people {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    padding-left: 120px;
    position: relative;
    min-height: 100px;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    margin-top: 22px;
  }

  .picture {
    width: 100px;
    height: 100px;
    @include border-radius(50%);
    grid-row: 1/3;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;

    img {
      @include border-radius(50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn {
    margin-top: 30px;
    width: 100%;
    max-width: 213px;
  }
}

.secrets__tag {
  color: #d3145b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.secrets__name {
  color: #6a4b4b;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  margin-top: 26px;
}

.people__name {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  display: block;
}

.people__desc {
  color: #6a4b4b;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.secrets__tags {
  color: #c2b6b6;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 25px;

  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.secrets-controls {
  display: flex;
  justify-content: center;
  margin-top: 54px;

  .btn {
    margin-top: 0;
  }
}

.secret-section {
}

.secret-item {
  max-width: 945px;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  .btn {
    margin-top: 50px;
  }

  .secrets__name {
    font-size: 30px;
    line-height: 40px;
  }

  .people {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    padding-left: 234px;
    position: relative;
    min-height: 200px;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .picture {
    width: 200px;
    height: 200px;
    @include border-radius(50%);
    grid-row: 1/3;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -100px;

    img {
      @include border-radius(50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-section {
    padding: 0;
  }
}

.project-page {
}

.project-page__inner {
  color: #6a4b4b;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .caption {
    color: #d3145b;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  ul {
    padding-left: 10px;

    li {
      position: relative;
      padding-left: 20px;

      & + li {
        margin-top: 20px;
      }

      @include before {
        @include border-radius(50%);
        width: 5px;
        height: 5px;
        background-color: #6a4b4b;
        top: 9px;
        left: 0;
      }
    }
  }
}

.project-mainText {
  @include border-radius(30px);
  padding: 24px;
  background-color: #f4f0f0;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.project-text {
}

.customer {
  color: #6a4b4b;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 30px 0;

  .date {
    color: #c2b6b6;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    display: block;
  }
  .name {
    color: #6a4b4b;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    margin-top: 15px;
  }
  .desc {
    color: #6a4b4b;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    margin-top: 11px;
  }
}

.customer-inner {
  @include border-radius(17px);
  background-color: #f3f0f0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}

.customer-left {
  width: 216px;
  @include border-radius(17px);
  overflow: hidden;

  img {
    width: 100%;
  }
}

.customer-right {
  width: 100%;
  max-width: 405px;

  .text {
    margin-top: 22px;

    p {
      & + p {
        margin-top: 15px;
      }
    }
  }
}

.section-title {
  color: #d3145b;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.product-project {
  padding: 30px 0;
}

.project-section {
  .catalog-item__info {
    li {
      align-items: flex-start;
    }
  }

  .catalog-item {
    .data {
      color: #d3145b;
      max-width: 93px;
    }
  }
}
