@media (max-width: 1199px) {
  .header {
    .title {
      padding-top: 0;
      padding-bottom: 0;
    }

    .headerContent-right {
      padding-top: 0;
    }

    .headerContent-right__row {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px 30px;
    }

    .btn {
      margin: 0 auto;
    }
  }

  .menu {
    font-size: 14px;
    line-height: 20px;
  }

  .titlePage-section--img .titlePage-section__text {
    padding-left: calc(50% - 110px);
  }

  .catalog-list {
    gap: 10px 20px;
  }

  .catalog-item {
    padding: 18px;
  }

  .product-section__inner {
    gap: 15px;
  }

  .product-section__info {
    padding: 25px;
  }

  .cooperation-item__body {
    padding: 30px;
  }

  .catalog-banki .catalog-item__picture {
    left: -19px;
    width: calc(100% + 38px);
    height: 222px;
  }

  .portfolio-list {
    gap: 15px;
  }

  .titlePage-section--docs .titlePage-section__text {
    padding-left: 24px;
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 15px 0;

    .headerContent {
      align-items: center;
    }

    .headerContent-right__row {
      gap: 10px 10px;
      justify-content: space-between;
      padding: 0 10px;

      & + .headerContent-right__row {
        margin-top: 5px;
      }
    }
  }

  .menu-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 30px;
  }

  .titlePage-section__text {
    padding: 25px;
  }

  .titlePage-section--img .titlePage-section__text {
    padding-left: calc(50% + 15px);
  }

  .catalog-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-section__inner {
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;

    .product-section__info {
      &:last-child {
        grid-column: 1/3;
      }
    }
  }

  .finished-products .catalog-item__picture {
    width: calc(100% + 37px);
    left: -19px;
    top: -19px;
    margin-bottom: -19px;
  }

  .cooperation-item__head .title {
    font-size: 20px;
    line-height: 30px;
  }

  .cooperation-section--analitic {
    .cooperation-list {
      grid-template-columns: 1fr 1fr;
    }

    .cooperation-item {
      grid-template-columns: 1fr;
    }

    .cooperation-item__body {
      margin-top: 30px;
    }
  }

  .cooperation-section--analitic .title {
    max-width: 100%;
  }

  .cooperation-section--analitic .cooperation-item__head {
    padding-right: 0;
  }

  .text-section .cols {
    columns: auto;
  }

  .text-section .container {
    width: 768px;
  }

  .catalog--box .catalog-item__picture {
    height: 250px;
  }

  .catalog--box {
    padding-top: 0;
  }

  .catalog-banki {
    position: relative;
  }

  .filter {
    position: absolute;
    right: -500px;
    top: 40px;
    @include transition(right 0.3s);
    z-index: 5;

    .filter-body {
      @include box-shadow(0px 0px 15px 5px rgba(0, 0, 0, 0.5));
    }

    &.show {
      right: 15px;
    }
  }

  .catalog--left {
    width: 100%;
  }

  .btn-filter {
    display: flex;
  }

  .card-left {
    width: 100%;
  }

  .slider-card.slider-for {
    .slider-card__item {
      height: 560px;
    }
  }

  .slider-card.slider-nav {
    margin-top: 20px;

    .slider-card__item {
    }
  }

  .card-right {
    width: 100%;
    max-width: 100%;
    padding: 24px 16px;
  }

  .card-characteristics {
    padding: 24px 16px;
    margin-top: 30px;
  }

  .card-right .btn {
    margin-top: 22px;
  }

  .card-availability {
    margin-top: 22px;
  }

  .card-text {
    margin-top: 30px;
  }

  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-tags {
    gap: 15px;
    flex-wrap: wrap;
  }

  .portfolio-tags + .portfolio-list {
    margin-top: 20px;
  }

  .contacts-state .num {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts-state .text {
    font-size: 20px;
    line-height: 24px;
  }

  .contacts-state ul {
    gap: 20px;
  }

  .map {
    width: 100%;
    height: 420px;
    margin-top: 50px;
  }

  .titlePage-section--docs img {
    margin: 0 auto;
  }

  .titlePage-section--docs .titlePage-section__text {
    padding: 24px;
  }

  .doc-list .doc-content {
    padding: 20px;
  }

  .text-section .item {
    grid-template-columns: 1fr 1fr;
  }

  .marketing-section {
    .item {
      display: block;
    }

    .title {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .header .headerContent {
    display: flex;
    align-items: flex-start;
  }

  .header {
    .headerContent {
      align-items: center;
    }

    .headerContent-right__row {
      justify-content: center;

      & + .headerContent-right__row {
        display: none;
      }
    }

    .title {
      display: none;
    }
  }

  .titlePage-section__caption {
    font-size: 24px;
    line-height: 32px;
  }

  .titlePage-section__text {
    font-size: 18px;
    line-height: 20px;
    padding: 20px;

    p {
      & + p {
        margin-top: 15px;
      }
    }
  }

  .recipesList .item .text {
    .btn {
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;
      max-width: 320px;

      &::before {
        display: none;
      }
    }
  }

  .recipes-controls {
    margin-top: 55px;
  }

  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-section__picture .picture {
    height: 364px;
  }

  .product-section__picture .title {
    font-size: 18px;
    line-height: 20px;
    padding: 10px;
  }

  .cooperation-list {
    grid-template-columns: 1fr;
  }

  .cooperation-item__body {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    margin-top: 15px;
  }

  .cooperation-section--analitic {
    .cooperation-list {
      grid-template-columns: 1fr;
    }

    .cooperation-item__body {
      margin-top: 15px;
    }
  }

  .text-section {
    font-size: 16px;
    line-height: 20px;
    padding-top: 30px;

    .container {
      width: 100%;
    }
  }

  .text-section h3 {
    margin-top: 25px;
  }

  .text-section p + p {
    margin-top: 15px;
  }

  .text-section .rows {
    margin: 15px 0;
    padding: 15px 0;
  }

  .text-section h3 + * {
    margin-top: 35px;
  }

  .catalog--left .catalog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .contacts-state .text {
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
  }

  .contacts {
    padding-top: 0;
  }

  .contacts-info {
    margin-top: 50px;
  }

  .not-pages__caption {
    font-size: 30px;
    line-height: 40px;
  }

  .not-pages {
    font-size: 16px;
    line-height: 20px;
    padding: 30px 0;
  }

  .titlePage-section--docs .container {
    display: block;
    text-align: center;
  }

  .titlePage-section--docs .titlePage-section__text {
    width: 100%;
    margin: 0;
  }

  .doc-list .list {
    grid-template-columns: 1fr;
  }

  .text-section .item {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .doc-list .doc-content {
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }

  .text-section .text {
    font-size: 16px;
    line-height: 20px;
  }

  .text-section .title .caption {
    font-size: 18px;
    line-height: 24px;
  }

  .text-section .item + .item {
    margin-top: 30px;
  }

  .text-section .list {
    padding-top: 25px;
    margin-top: 25px;
  }

  .marketing-text {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 15px;
    @include border-radius(15px);
  }

  .marketing-section__inner .row {
    display: block;

    .marketing-text {
      & + .marketing-text {
        margin-top: 20px;
      }
    }
  }

  .marketing-section .item + .item {
    margin-top: 30px;
  }
}

@media (max-width: 639px) {
  .titlePage-section__text {
    font-size: 16px;
    line-height: 18px;
    padding: 20px;
  }

  .recipesList .item .text .btn {
    max-width: 280px;
  }

  .titlePage-section--img {
    img {
      position: relative;
      height: auto;
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }

  .titlePage-section--img .titlePage-section__text {
    padding-left: 20px;
  }

  .catalog-list {
    gap: 10px;
  }

  .btns-section {
    padding-top: 30px;
  }

  #modal-checkout .modal__container {
    max-width: 380px;
    padding: 50px 25px;
  }

  #modal-checkout .modal__close {
    right: 0;
  }

  .modalBlock .cap {
    font-size: 20px;
    line-height: 28px;
  }

  .modalBlock .text {
    font-size: 15px;
    line-height: 16px;
    margin-top: 15px;
  }

  .modalBlock .inputList {
    margin-top: 30px;
  }

  .product-section__inner {
    grid-template-columns: 1fr;
    padding-top: 16px;
  }

  .product-section__inner .product-section__info:last-child {
    grid-column: 1/2;
  }

  #modal-result {
    font-size: 14px;
    line-height: 16px;
  }

  .modal-more,
  #modal-result,
  #modal-dev,
  #modal-more,
  #modal-checkout {
    .modal__container {
      padding: 50px 15px;
    }
    .modal__close {
      right: 0;
      top: -20px;
    }
  }

  .text-section h3 {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
  }

  .text-section h3 + * {
    margin-top: 20px;
  }

  .text-section h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .text-section .cols + h2 {
    margin-top: 50px;
  }

  .slider-card.slider-for {
    .slider-card__item {
      padding-top: calc(100 / 640 * 100%);
      height: auto;

      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .portfolio-list {
    grid-template-columns: 1fr;
  }

  .portfolio-item__picture {
    position: relative;
    width: 100%;
    padding-top: calc(320 / 640 * 100%);
    height: auto;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .portfolio-item__body {
    padding: 15px;
  }

  .portfolio-tags {
    gap: 10px;
    justify-content: space-between;

    li {
      width: calc(50% - 5px);
    }

    .btn {
      font-size: 14px;
      line-height: 20px;
      min-width: inherit;
      width: 100%;
    }
  }

  .contacts-info__body .social {
    margin-left: 0;
  }

  .contacts-info__body .linkMail {
    width: 100%;
  }

  .map {
    width: 100%;
    height: 350px;
    margin-top: 30px;
  }

  .contacts-state ul {
    grid-template-columns: 1fr;
  }

  .contacts-info__body .adress .adressTxt {
    flex: 1;
    font-size: 16px;
  }

  .contacts-info__body {
    gap: 20px 10px;
    margin-top: 30px;
  }
}

@media (max-width: 479px) {
  .header .headerContent {
    display: grid;
    grid-template-rows: 36px 36px;
    align-items: start;
  }

  .header .headerContent-right {
    width: 100%;
  }

  .header .headerContent-right__row {
    padding: 0;
  }

  .menu {
    font-size: 13px;
    line-height: 15px;
    padding: 0 10px;
  }

  .catalog-list {
    grid-template-columns: 1fr;
  }

  .catalog--left .catalog-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card-characteristics {
    text-align: center;
    font-size: 14px;
    line-height: 20px;

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px 0;

      li {
        flex-wrap: wrap;
        display: flex;

        &::before {
          display: none;
        }

        & + li {
          margin-top: 0;
        }

        &:last-child {
          grid-column: 1/3;
        }
      }
    }

    .title {
      width: 100%;
      text-align: center;
      font-weight: 600;
      margin-bottom: 5px;
      white-space: normal;
    }

    .data {
      width: 100%;
      text-align: center;
    }
  }

  .not-pages {
  }

  .author-block {
    padding: 15px;
    @include border-radius(15px);
    text-align: center;
    margin-top: 30px;

    .picture {
      position: relative;
      left: 0;
      top: 0;
      margin: 0;
      margin: 0 auto;
    }
  }
}

@media (max-width: 359px) {
}
